*.mo
*.lnk
Crowdin/*
PotXliff/*
!PotXliff/.gitkeep
Preview/*
!Preview/Markdown/.gitkeep
!Preview/*.css
!Preview/*.ico
Tools/L10nUtil.exe
Tools/CrowdinRegistration
Tools/NVDA
Tools/NVDAL10n
Tools/msgmerge.exe
