name: Build Translation Test

on:
  push:
    branches:
      - "main"
      - "20*"
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

jobs:

  download-NVDAL10nUtil:
    runs-on: ubuntu-latest
    steps:
      - name: Cache NVDAL10nUtil
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/NVDAL10nUtil.exe
          key: NVDAL10nUtil.exe
          restore-keys: |
            l10nUtil
          enableCrossOsArchive: true
      - name: Download l10nUtil
        id: download-l10nUtil
        uses: carlosperate/download-file-action@v2
        with:
          file-url: https://ci.appveyor.com/api/buildjobs/28nefmtoskns8bu8/artifacts/output%2Fl10nUtil.exe
          file-name: 'nvdaL10nUtil.exe'
      - uses: actions/upload-artifact@v4
        with:
          name: nvdaL10nUtil.exe
          path: ${{ steps.download-l10nUtil.outputs.file-path }}
          if-no-files-found: error

  build:
    runs-on: windows-latest
    needs:
      - download-NVDAL10nUtil
    steps:
      - uses: actions/checkout@v4
      - name: Download NVDAL10nUtil
        uses: actions/download-artifact@v4
        with:
          name: NVDAL10nUtil.exe
          path: ${{ github.workspace }}/Tools/
      - run: ${{ github.workspace }}/生成测试版翻译.bat GITHUB_ACTIONS
      - name: Upload Output
        uses: actions/upload-artifact@v4
        with:
          name: NVDA_TranslationTest
          path: ${{ github.workspace }}/Preview/Output/*

